.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  padding: 50px;
  margin: auto;
  gap: 25px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    grid-template-columns: 1fr;
  }
}