:root {
  --white: #ebf0f5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: var(--white);
  background: linear-gradient(45deg, #11151e, #282c34);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue', cursive;
}

input {
  background-color: transparent;
  font-size: 14px;
  padding: 10px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
}

thead {
  background-color: rgba(130, 130, 211, 0.096);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}
thead th {
  padding: 20px;
}


tbody {
  background-color: rgba(198, 198, 211, 0.096);
}
tbody td {
  padding: 5px;
  text-align: center;
}